@model List<PlayDiscGolf.ViewModels.Home.SearchResultAjaxFormViewModel>


@{
    Layout = null;
}




@if (Model.Count > 0)
{
    <ul class="list-unstyled">
        @foreach (var item in Model)
        {
            <li class="mb-3">
                <button class="locationButton btn btn-primary" id="@item.CourseID.ToString()">@item.FullName</button>
            </li>
        }
    </ul>
}

<script src="~/js/site.js" asp-append-version="true"></script>