@model PlayDiscGolf.ViewModels.User.UserChangeUsernameViewModel


<div>
        <form id="ChangeUsername" asp-action="ChangeUsername" onsubmit="return jQueryAjaxPost(this);">
            <div class="form-group">
                <label for="exampleInputEmail1">Change username</label>
                <input asp-for="@Model.Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username..">
                <span class="text-danger" asp-validation-for="@Model.Username"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>



