@model PlayDiscGolf.ViewModels.User.UserChangePasswordViewModel



<div>
    <form id="ChangePassword" asp-action="ChangePassword" onsubmit="return jQueryAjaxPost(this);">
        <div class="form-group">
            <label for="exampleInputPassword1">Change password</label>
            <input type="password" asp-for="@Model.Password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Enter new password..">
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
            <label for="exampleInputPassword2">Confirm new password</label>
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" id="exampleInputPassword2" aria-describedby="emailHelp" placeholder="Enter password again..">
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


