@model PlayDiscGolf.ViewModels.User.UserChangePasswordViewModel


<p>
    <a class="btn btn-primary card-link" data-toggle="collapse" href="#collapseExampleChangePassword" role="button" aria-expanded="false" aria-controls="collapseExampleChangePassword">
        Change Password
    </a>
</p>
<div class="collapse" id="collapseExampleChangePassword">
    <form id="ChangePassword" asp-action="ChangePassword" onsubmit="return jQueryAjaxPost(this);">
        <div class="form-group">
            <label for="exampleInputPassword1">New password</label>
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
            <input type="password" asp-for="@Model.Password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Enter new password..">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
            <label for="exampleInputPassword2">Confirm password</label>
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
            <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" id="exampleInputPassword2" aria-describedby="emailHelp" placeholder="Enter password again..">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


