@using Microsoft.AspNetCore.Identity;
@using PlayDiscGolf.Core.Services.User

@inject SignInManager<IdentityUser> signInManager;
@inject RoleManager<IdentityRole> roleManager;
@inject IUserService _userService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlayDiscGolf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-transparent navbar-light badge-secondary box-shadow mb-5">
            <div class="container">
                <a class="navbar-brand hover-shadow text-white h5 pl-2 pr-2" asp-area="" asp-controller="Home" asp-action="Index">PlayDiscGolf</a>
                <button id="ToggleNavbar" class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="navbar-collapse hover-shadow collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Admin" asp-action="Index">Edit Courses</a>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="User" asp-action="Index">MyPage</a>
                            </li>


                            var model = await _userService.GetFriendRequestsAsync();

                            var notificationCount = "0";

                            if (model.Count() > 0)
                            {
                                notificationCount = model.Count().ToString();
                            }



                            <li class="nav-item">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Notification" asp-action="Index">Notification (@notificationCount)</a>
                            </li>
                            <li class="nav-item ml-lg-2">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                            <li class="nav-item ml-lg-2">
                                <a class="nav-link hover-shadow text-white" asp-area="" asp-controller="User" asp-action="Index">Username: @User.Identity.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-lg-2">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item ml-lg-2">
                                <a class="nav-link hover-shadow text-white h5" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-transparent">
        <div class="container text-white text-center">
            &copy; 2021 - PlayDiscGolf
        </div>
    </footer>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false).ConfigureAwait(false)

</body>
</html>
