@model List<PlayDiscGolf.ViewModels.ScoreCard.PlayerCardViewModel>

<div class="card-body" style="overflow-y: auto">
    <div class="d-flex mb-3">
        <div id="" class="pt-2 h5">@Model[0].UserName</div>
    </div>
</div>

@if (Model.Count > 1)
{
    for (int i = 1; i < Model.Count; i++)
    {
        <div class="card-body" style="overflow-y: auto">
            <div class="d-flex mb-3">
                <div id="" class="pt-2 h5">@Model[i].UserName</div>
                <div class="ml-auto d-flex mt-0">
                    <div class="pb-0">
                        <a data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#playersInScoreCard" asp-action="RemovePlayer" asp-controller="ScoreCard" asp-route-removePlayer="@Model[i].UserName" id="@Model[i].UserName" class="btn text-success">
                            <span style="color:tomato"><i class="far fa-minus-square fa-2x"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}

