@model PlayDiscGolf.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Landing Page";
}


<div id="searchFormHome">
    @await Html.PartialAsync("_SearchFormHomePage",Model.SearchFormHomePageViewModel)
</div>


