@model PlayDiscGolf.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Landing Page";
}


<div id="searchFormHome" class="text-center">
    @await Html.PartialAsync("_SearchFormHomePage",Model.SearchFormHomePageViewModel)
</div>



