@model PlayDiscGolf.ViewModels.ScoreCard.ScoreCardGameOnViewModel


<div class="container-fluid p-0 m-0">
    <div class="row pt-5 m-auto row justify-content-md-center">
        <div class="col-md-12 col-lg-5 pb-3">
            <div class="card card-custom-GameOn bg-transparent text-black" style="min-height:600px;border:none">
                <div style="width: 100%"><img id="GameOnImage" src="~/picture/gameon.png"></div>
                <div id="scoreCardLive">
                    @await Html.PartialAsync("_ScoreCardLive", Model)
                </div>
            </div>
        </div>
    </div>
</div>




